{
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "semi": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "printWidth": 80,
    "bracketSpacing": true
  }
